.default_css_table{
margin: 0px auto;
background: black;
text-align: center;

}
.default_css_table th {
	background: yellow;
	min-width: 100px;
}

.default_css_table td {
	background: white;
}

.content{
	margin:0px auto;
	text-align: center;
}

.content_index{
	background-color: #FFFF99;
	margin:0px auto;
	width:700px;
	text-align: left;
}
.content_index a{
	font-weight: bold;
	text-decoration: none;
	color:red;
}